<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:if="${challengeMessage}" class="alert alert-success">
    <p th:text="${challengeMessage}"></p>
  </div>

  <div class="alert alert-info">
    📝 You are submitting evidence for:
    <strong th:text="${challengeName}"></strong>
  </div>

  <form th:action="@{/evidence/create}" method="post" enctype="multipart/form-data" th:object="${post}">
    <input type="hidden" name="userChallengeId" th:value="${userChallenge.id}" />
    <input type="hidden" name="markAsEvidence" value="true"/>
    <label>Title:</label>
    <input type="text" th:field="*{title}" required /><br>

    <label>Content:</label>
    <textarea th:field="*{content}" required></textarea><br>

    <label>Image:</label>
    <input type="file" name="imageFile"><br>
    <button type="submit">Submit Post</button>
  </form>
</body>
</html>