<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Evidence Approval</title>
  <link rel="stylesheet" th:href="@{/css/evidence_list.css}" />
</head>
<body>
<a th:href="@{'/challenge/progress/' + ${userChallengeId}}">Back to challenge's progress</a>
<h2>Evidence Submitted for this Challenge</h2>

<div th:each="evidence : ${evidenceList}">
  <div class="evidence-card">
    <p><strong>User:</strong> <span th:text="${evidence.userChallenge.user.username}"></span></p>
    <p><strong>Date:</strong> <span th:text="${#temporals.format(evidence.createdAt, 'dd MMM yyyy')}"></span></p>
    <p><strong>Status:</strong> <span th:text="${evidence.status}"></span></p>
    <p><strong>Caption:</strong> <span th:text="${evidence.post.content}"></span></p>

    <!-- Show image if extension is .png, .jpg, or .jpeg -->
    <img th:if="${#strings.endsWith(evidence.post.imageUrl, '.png') or
             #strings.endsWith(evidence.post.imageUrl, '.jpg') or
             #strings.endsWith(evidence.post.imageUrl, '.jpeg')}"
         th:src="@{${evidence.post.imageUrl}}"
         style="width: 200px;" />

    <!-- Show video if extension is .mp4 -->
    <video th:if="${#strings.endsWith(evidence.post.imageUrl, '.mp4')}"
           width="320" height="240" controls>
      <source th:src="@{${evidence.post.imageUrl}}" type="video/mp4" />
    </video>

    <form th:action="@{'/evidence/react/' + ${evidence.id}}" method="post">
      <input type="hidden" name = "userChallengeId" th:value = "${userChallengeId}">
      <button type="submit" name="reactionType" value="LIKE"
              th:classappend="${userReactions[evidence.post.id]?.name() == 'LIKE'} ? 'highlight' : ''">
        👍 <span th:text="${likeCounts[evidence.post.id]}"></span>
      </button>

      <button type="submit" name="reactionType" value="DISLIKE"
              th:classappend="${userReactions[evidence.post.id]?.name() == 'DISLIKE'} ? 'highlight' : ''">
        👎 <span th:text="${dislikeCounts[evidence.post.id]}"></span>
      </button>
    </form>


  </div>
</div>
</body>
</html>
