<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Displayed Badges</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>

<h2>Select badges to display on your profile</h2>

<div th:if="${#lists.isEmpty(userBadges)}">
    <p>you dont have any badge</p>
</div>
<form th:if="${!#lists.isEmpty(userBadges)}" th:action="@{badge-display}" method="post">
    <div>
        <div th:each="userBadge : ${userBadges}" class="badge-container">
            <img th:src="@{${userBadge.badge.icon}}" th:alt="${userBadge.badge.name}" class="badge-icon"/>
            <div>
                <input type="checkbox" name="displayedBadgeIds"
                       th:value="${userBadge.badge.id}"
                       th:checked="${userBadge.displayed}"/> Display
            </div>
        </div>
    </div>
    <br/>
    <button type="submit">💾 Save Display</button>
</form>

<a th:href="@{/profile}" class="button">Return to Profile</a>

</body>
</html>
